html
    head
        title Webchat
        style
            include ../static/style.css
        <meta name="google-signin-client_id" content="1094604971939-cqtqptimcn5bporde0dvkiefqcv91phb.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    body 
        nav
            ul(class='navigation')
                li(class='sitename')
                    a(href='/' class='sitename-webchat' id='webchat' name='webchat') WEBCHAT
                li(class='navbutton')
                    a(href='/login' class='navbutton-signup' id='login' name='login') LOGIN
                li(class='navbutton')
                    a(href='/' class='navbutton-sognup' id='signup' name='signup') SIGNUP
        div(class='container fit' id='container')
            p(class='companyname' id='companyname') JOIN WEBCHAT
            form(class='form' method='POST' action='/' id='form' name='form')
                div(class='row')
                    div(class='yourname')
                        label(for="name" class='labels') 
                        input(type="text", name="name" id='name' class='outline urname' placeholder= 'ENTER YOUR NAME:')
                    div(class='yourname email')
                        label(for="email" class='labels email') 
                        input(type="email", name="email" id='email' class='outline urname email' placeholder= 'ENTER YOUR EMAIL:')
                div(class='row')
                    div(class='yourname categ')
                        label(for="categ" class='labels categ') 
                        input(type="password", name="categ" id='categ' class='outline urname categ' placeholder= 'ENTER PASSWORD:')
                    div(class='yourname email')
                        label(for="timing" class='labels categ')
                        input(type="password", name="timing" id='timing' class='outline urname timing' placeholder= 'CONFIRM PASSWORD:')
                
                div(class='rowlast')
                    div(class='space')
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    div(class='space')
                        button(type='submit' class='submit' id='button') SUBMIT
        div(class='container alert fit' id='alert')= alert
    script(src="static/res.js") 

