html
    head
    -var tt= session
        title= tt
        style
            include ../static/style.css
        <meta name="google-signin-client_id" content="1094604971939-cqtqptimcn5bporde0dvkiefqcv91phb.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    body 
        nav(class='navbar')
            ul(class='navigation')
                li(class='sitename')
                    a(href='/' class='sitename-webchat' id='webchat' name='webchat') WEBCHAT
            ul(class='navigation')
                li(class='profile')
                    a(href='/webchat/profile' class='profile' id='profile')= username
        if !google
            div(class='container passchange')
                div(class='')
                    p(class='mid')= message
            div(class='container' id='message')
                if !att
                    form(class='form' method='POST' action='/webchat/passwordchange' id='form' name='form')
                        div(class='row')
                            div(class='yourname login')
                                if !att
                                    label(for="oldpass" class='labels') 
                                    input(type="password", name="oldpass" id='name' class='outline urname login' placeholder= 'YOUR OLD PASSWORD')
                        div(class='row')
                            div(class='yourname email login')
                                label(for="newpass" class='labels email') 
                                input(type="password", name="newpass" id='email' class='outline urname email login' placeholder= 'NEW PASSWORD')
                        div(class='row')
                            div(class='yourname categ login')
                                label(for="cnewpass" class='labels categ') 
                                input(type="password", name="cnewpass" id='categ' class='outline urname categ login' placeholder= 'CONFIRM NEW PASSWORD')
                        div(class='rowlast')
                            div(class='space')
                            button(type='submit' class='submit' id='button') SUBMIT
                else
                    form(class='form' method='POST' action='/webchat/passwordchange?att=1&eid=' + eid id='form' name='form')
                        div(class='row')
                            div(class='yourname login')
                                if !att
                                    label(for="oldpass" class='labels') 
                                    input(type="password", name="oldpass" id='name' class='outline urname login' placeholder= 'YOUR OLD PASSWORD')
                        div(class='row')
                            div(class='yourname email login')
                                label(for="newpass" class='labels email') 
                                input(type="password", name="newpass" id='email' class='outline urname email login' placeholder= 'NEW PASSWORD')
                        div(class='row')
                            div(class='yourname categ login')
                                label(for="cnewpass" class='labels categ') 
                                input(type="password", name="cnewpass" id='categ' class='outline urname categ login' placeholder= 'CONFIRM NEW PASSWORD')
                        div(class='rowlast')
                            div(class='space')
                            button(type='submit' class='submit' id='button') SUBMIT
        div(class='container alert fit positionpass' id='alert')= alert
    script(src="/static/res.js") 